/* Media Mobile */
@media (max-width: 560px){
    .imagentitulo {
        width: 200px;
    }

    .buscar {
        margin: 20px;
    }

    .cgrande {
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
    }

    .compras {
        width: 350px;
    }

    .trending {
        padding: 0%;
    }

    .tarjeta {
        margin: 0%;
        padding: 0%;
        width: 130px;
    }

    .tarjeta__imagen {
        width: 300px;
    }

    .noticiero{
        display: flex;
        flex-direction: column;
    }

    .noticia1{
        height: 400px;
    }

    .todo {
        display: flex;
        flex-direction: column;
    }

    .redes {
        gap: 10px;
        margin: 20px;
        display: flex;
        flex-direction: row;
    }


    .formulario {
        padding: 0%;
        margin: 20px;
    }

    /* Productos */

    .main__main {
        display: flex;
        flex-direction: column;
    }


    .sneaker {
        margin: 10px;
        font-size: 10px;
        width: 530px;
        height: 380px;
    }

    .sneaker2 {
        margin: 10px;
        font-size: 10px;
        width: 520px;
        height: 380px;
    }


    .edit__imagen {
        width: 500px;
    }
}

.todo__footer{
    display: flex;
    flex-direction: column;
}

.medio{
    text-align: center;
}

@media (min-width: 560px){
    .cgrande{
        display: flex;
    }

    .todo__footer{
        display: flex;
        flex-direction: row;
    }
}