.main__main{
    align-items: center;
    justify-content: space-around;
}
.sneaker {
        background-color: #d9d9d9;
        padding: 10px;
        margin: 5px;
    }
    .sneaker2 {
        background-color: #d9d9d9;
        padding: 10px;
        font-size: 15px;
    }
    .cajas {
        .precios {
            font-size: 20px;
            background-color: #bdf3c1;
            margin: 10px;
            display: flex;
            justify-content: space-around;
            text-decoration: none;
            color: black;
        }
        .preciosmen {
            font-size: 20px;
            background-color: #bdf3c1;
            margin: 10px;
            text-decoration: none;
            color: black;
        }
}

.titulo2{
    font-size: 20px;
}




