* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "fugaz one";
}

.main__main {
  align-items: center;
  justify-content: space-around;
}

.sneaker {
  background-color: #d9d9d9;
  padding: 10px;
  margin: 5px;
}

.sneaker2 {
  background-color: #d9d9d9;
  padding: 10px;
  font-size: 15px;
}

.cajas .precios {
  font-size: 20px;
  background-color: #bdf3c1;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: black;
}
.cajas .preciosmen {
  font-size: 20px;
  background-color: #bdf3c1;
  margin: 10px;
  text-decoration: none;
  color: black;
}

.titulo2 {
  font-size: 20px;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.justify-content-space-between {
  justify-content: space-between;
}

.navbar {
  grid-area: nav;
  height: 40px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #000;
}
.navbar ul {
  list-style: none;
  display: flex;
}
.navbar ul li {
  padding: 30px;
}
.navbar ul a {
  color: #000;
  text-decoration: none;
}

.body {
  background-color: #d1ddd2;
  opacity: 1;
  background-image: linear-gradient(135deg, #f7f7f7 25%, transparent 25%), linear-gradient(225deg, #f7f7f7 25%, transparent 25%), linear-gradient(45deg, #f7f7f7 25%, transparent 25%), linear-gradient(315deg, #f7f7f7 25%, #d1ddd2 25%);
  background-position: 33px 0, 33px 0, 0 0, 0 0;
  background-size: 66px 66px;
  background-repeat: repeat;
}

.header {
  grid-area: "header";
}
.header .veinteshop {
  text-align: center;
}
.header .veinteshop .inicio {
  height: 170px;
}
.header .veinteshop .imagentitulo {
  width: 200px;
  margin-top: 10px;
}
.header .veinteshop .subtitulo {
  font-size: 90%;
}
.header .input {
  margin-top: 10px;
  border-radius: 10px;
  width: 300px;
  height: 25px;
  padding: 0px 11px;
}

.conteiner {
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "header header header" "buscar buscar buscar" "botones botones botones" "trending trending trending" "tarjetas tarjetas tarjetas" "noticias noticias noticias" "footer footer footer";
}

/* Buscar */
.buscar {
  text-decoration: underline;
  grid-area: buscar;
  animation-name: opacidad;
  animation-duration: 1s;
  display: block;
  text-align: center;
  margin-top: 40px;
}

/* Compra y venta */
.cgrande {
  grid-area: botones;
  display: grid;
  grid-template-columns: 800px 630px;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.cgrande a {
  text-decoration: none;
  color: black;
}

.compras {
  border-radius: 50px;
  width: 600px;
  height: 90px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(../img/foto.jpg);
}
.compras a {
  color: #000;
  background-color: #d9d9d9;
}

/* Trending */
.trending {
  text-decoration: underline;
  grid-area: trending;
  animation-name: opacidad;
  animation-duration: 1s;
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 30px;
  margin: 20px;
}

.tarjetas {
  grid-area: tarjetas;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tarjetas .tarjeta__titulo {
  text-decoration: none;
  color: black;
  text-decoration: underline;
}
.tarjetas .tarjeta1 {
  font-size: 10px;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: #d9d9d9;
  transition: all 1s;
}
.tarjetas .tarjeta1 .tarjeta__imagen {
  max-width: 222px;
}
.tarjetas .tarjeta1 .tarjeta__descripcion, .tarjetas .tarjeta1 .tarjeta__descripcion2 {
  font-size: 10px;
}
.tarjetas .tarjeta1 .tarjeta__descripcion2 {
  font-size: 15px;
}
.tarjetas .tarjeta:hover {
  transform: scale(1.1);
  font-size: 10px;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: #d9d9d9;
}

/* Noticias */
.noticias {
  text-decoration: underline;
  text-align: center;
  padding: 10px;
}

.noticiero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.noticiero .noticia1 {
  padding: 10px;
  margin: 15px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noticiero .noticia1 .imagen__noticia {
  width: 300px;
  height: 200px;
}
.noticiero .noticia1 .texto__noticia {
  font-size: 14px;
  margin-left: 5px;
  text-align: center;
}
.noticiero .noticia1 .titulo__noticia {
  font-size: 15px;
  text-align: center;
  text-decoration: underline;
}

.todo {
  grid-area: footer;
  margin: 5px;
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-between;
}
.todo .redes {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.todo .redes .logo {
  align-items: center;
  text-align: center;
  max-width: 1cm;
  max-height: 1cm;
}
.todo .redes .logotexto {
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  color: #000;
}
.todo .formulario {
  padding-top: 10px;
  max-width: 15cm;
  max-height: 5cm;
}

.medio {
  border: 1px solid black;
  margin-top: 50px;
  object-fit: contain;
  color: #fff;
  width: 1920px;
  max-height: 400px;
  background-image: url(../img/fondocontacto2.jpg);
  height: 700px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: black;
  margin-top: 10px;
  padding: 10px;
  width: 200px;
}

.todo__footer {
  grid-area: footer;
  margin: 5px;
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.redes {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.redes .logo {
  align-items: center;
  text-align: center;
  max-width: 1cm;
  max-height: 1cm;
}
.redes .logotexto {
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  color: #000;
}

/* Media Mobile */
@media (max-width: 560px) {
  .imagentitulo {
    width: 200px;
  }
  .buscar {
    margin: 20px;
  }
  .cgrande {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
  }
  .compras {
    width: 350px;
  }
  .trending {
    padding: 0%;
  }
  .tarjeta {
    margin: 0%;
    padding: 0%;
    width: 130px;
  }
  .tarjeta__imagen {
    width: 300px;
  }
  .noticiero {
    display: flex;
    flex-direction: column;
  }
  .noticia1 {
    height: 400px;
  }
  .todo {
    display: flex;
    flex-direction: column;
  }
  .redes {
    gap: 10px;
    margin: 20px;
    display: flex;
    flex-direction: row;
  }
  .formulario {
    padding: 0%;
    margin: 20px;
  }
  /* Productos */
  .main__main {
    display: flex;
    flex-direction: column;
  }
  .sneaker {
    margin: 10px;
    font-size: 10px;
    width: 530px;
    height: 380px;
  }
  .sneaker2 {
    margin: 10px;
    font-size: 10px;
    width: 520px;
    height: 380px;
  }
  .edit__imagen {
    width: 500px;
  }
}
.todo__footer {
  display: flex;
  flex-direction: column;
}

.medio {
  text-align: center;
}
.medio .main__main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 560px) {
  .cgrande {
    display: flex;
  }
  .todo__footer {
    display: flex;
    flex-direction: row;
  }
  .main__main {
    display: flex;
    flex-direction: row;
  }
}
/* Animacion */
@keyframes opacidad {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */